[submodule "blog"]
	path = blog
	url = https://github.com/luisjg/blog.git
[submodule "assets"]
	path = assets
	url = https://github.com/luisjg/assets.git
[submodule "work"]
	path = work
	url = https://github.com/luisjg/work.git
[submodule "contact"]
	path = contact
	url = https://github.com/luisjg/contact.git
